/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  #play-button {
    position: absolute;
    top: calc(50% - 1em);
    left: calc(50% - 2em);
    width: 100px;
    height: 50px;
    z-index: 10;
  }